@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=Play:wght@400;700&display=swap");
/* @import '~bootstrap/scss/bootstrap'; */

@tailwind base;
@tailwind components;
@tailwind utilities;

@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-white: #ffffff;
  --clr-black: #202020;
  --clr-blue: #6c63ff;
  --clr-blue-2: #4c46b6;
  --card-height: 75vh;
  --card-width: calc(var(--card-height) / 1.25);
}

body {
  min-height: 100vh;
  background: black;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 2rem;
  padding-bottom: 2rem;
  box-sizing: border-box;
}

.homepage__btn {
  padding: 0.5rem 1.75rem;
  border-radius: 40px;
  background: #a056ff;
  border: 0;
  font-weight: 500;
  font-size: 1.1rem;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.25);
  margin-bottom: 0.5rem;
}

/* ------------------------------------------------------ */
/* -- NAVIGATION -- */

nav {
  display: flex;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.nav__brand {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 20px;
}
.about {
  color: var(--clr-blue);
  font-family: "PLAY";
  margin-left: 10px;
}

.nav__brand h1 {
  color: var(--clr-blue);
  font-size: clamp(1.75em, 4vw, 2.5em);
  font-weight: 800;
}
div {
  margin-left: 10px;
}

.nav__connect {
  width: 175px;
  height: 50px;
  margin: auto;

  background-color: var(--clr-blue);
  color: var(--clr-white);

  border: none;
  border-radius: 4px;

  font-family: "Play";
  font-size: 1.1em;
  font-weight: 600;

  cursor: pointer;
  transition: all 250ms ease;
}

.nav__connect:hover {
  background-color: var(--clr-blue-2);
}

/* ------------------------------------------------------ */
/* -- FORM -- */

.form {
  display: flex;
  min-height: 600px;
}

form {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;

  margin: 0 25px;
}

form input[type="text"] {
  width: 250px;
  height: 50px;
  margin: 10px 0;
  padding: 10px;

  border: 1px solid var(--clr-blue);
  border-radius: 4px;

  font-size: 1.1em;
}

form input[type="submit"] {
  background-color: var(--clr-blue);
  color: var(--clr-white);

  width: 250px;
  height: 50px;
  margin: 10px 0;
  padding: 10px;

  border: none;
  border-radius: 4px;

  font-family: "Play";
  font-size: 1.1em;
  font-weight: 400;

  cursor: pointer;
  transition: all 250ms ease;
}

form input[type="submit"]:hover {
  background-color: var(--clr-blue-2);
}

/* ------------------------------------------------------ */
/* -- IMAGE CARD-- */

.card {
  background: #191c29;
  width: var(--card-width);
  height: var(--card-height);
  padding: 3px;
  position: relative;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  font-size: 1.5em;
  color: rgb(88 199 250 / 0%);
  cursor: pointer;
  font-family: cursive;
}

.card img {
  width: var(--card-width);
  height: var(--card-height);
  border-radius: 6px;
}

.card:hover {
  color: rgb(88 199 250 / 100%);
  transition: color 1s;
}
.card:hover:before,
.card:hover:after {
  animation: none;
  opacity: 0;
}

.card::before {
  content: "";
  width: 104%;
  height: 102%;
  border-radius: 8px;
  background-image: linear-gradient(var(--rotate), white, #3c67e3 43%, #4e00c2);
  position: absolute;
  z-index: -1;
  top: -1%;
  left: -2%;
  animation: spin 2.5s linear infinite;
}

.card::after {
  position: absolute;
  content: "";
  top: calc(var(--card-height) / 6);
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(0.8);
  filter: blur(calc(var(--card-height) / 6));
  background-image: linear-gradient(var(--rotate), white, #3c67e3 43%, #4e00c2);
  opacity: 1;
  transition: opacity 0.5s;
  animation: spin 2.5s linear infinite;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}

/* ------------------------------------------------------ */
/* -- TEXT -- */
p {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #5ddcff;
}

.colour {
  color: #5ddcff;
  font-family: "Play";
}

@media screen and (max-width: 768px) {
  .form {
    flex-direction: column;
  }
}
